/insp3442-arch/LightDM/keys.conf
/insp3442-arch/rEFInd/keys/
/insp3442-arch/rEFInd/vars/
/insp3442-arch/rEFInd/BOOT.CSV
/insp3442-arch/rEFInd/refind_x64.efi
/insp3442-arch/.config/cef_user_data/
/insp3442-arch/.config/chromium/
/insp3442-arch/.config/Code\ -\ OSS/
/insp3442-arch/.config/dconf/
/insp3442-arch/.config/discord/
/insp3442-arch/.config/draw.io/
/insp3442-arch/.config/eog/
/insp3442-arch/.config/fcitx/dbus/
/insp3442-arch/.config/font-manager/
/insp3442-arch/.config/GIMP/
/insp3442-arch/.config/ibus/
/insp3442-arch/.config/ipinfo/
/insp3442-arch/.config/JetBrains/
/insp3442-arch/.config/kdeconnect/
/insp3442-arch/.config/keepassxc/
/insp3442-arch/.config/krita*
/insp3442-arch/.config/mozc/
/insp3442-arch/.config/mpd/database
/insp3442-arch/.config/mpd/log
/insp3442-arch/.config/mpd/sticker.sql
/insp3442-arch/.config/obsidian/
/insp3442-arch/.config/obs-studio/
/insp3442-arch/.config/openttd/
/insp3442-arch/.config/pulse/
/insp3442-arch/.config/qBittorrent/qBittorrent-data.conf
/insp3442-arch/.config/qBittorrent/*.json
/insp3442-arch/.config/setzer/*==.pickle
/insp3442-arch/.config/setzer/*.pickle
/insp3442-arch/.config/setzer/workspace.pickle
/insp3442-arch/.config/StardewValley/
/insp3442-arch/.config/unity3d/Ludic/
/insp3442-arch/.config/VirtualBox/
/insp3442-arch/.config/QtProject.conf
/insp3442-arch/.config/zoomus.conf
/insp3442-arch/.config/xpad/content-*
/insp3442-arch/.config/xpad/info-*
